


 body {
   overflow: hidden;
   font-family: 'Courier New', Courier, monospace;
   color: #189582;
 }
  

  

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

.space {
  height: 10vh;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

.modal-full {
  min-width: 101%;
  margin: 0;
  padding: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}